@font-face
  font-family: 'Muli'
  src: url('../fonts/Muliregular.woff') format('woff'),
  url('../fonts/Muliregular.woff2') format('woff2')
  font-weight: 400
  font-style: normal
  font-display: swap
@font-face
  font-family: 'Muli'
  src: url('../fonts/Mulibold.woff') format('woff'),
  url('../fonts/Mulibold.woff2') format('woff2')
  font-weight: 700
  font-style: normal
  font-display: swap

@font-face
  font-family: "Nunito"
  src: url("../fonts/Nunitoregular.woff") format("woff"),
  url("../fonts/Nunitoregular.woff2") format("woff2")
  font-weight: 400
  font-style: normal
  font-display: swap
@font-face
  font-family: "Nunito"
  src: url("../fonts/Nunitosemibold.woff") format("woff"),
  url("../fonts/Nunitosemibold.woff2") format("woff2")
  font-weight: 600
  font-style: normal
  font-display: swap
@font-face
  font-family: "Nunito"
  src: url("../fonts/Nunitoextrabold.woff") format("woff"),
  url("../fonts/Nunitoextrabold.woff2") format("woff2")
  font-weight: 800
  font-style: normal
  font-display: swap

